name: esp8266
on: [push, pull_request]
jobs:
  build:
    name: Test compile examples for esp8266
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Checkout Approximate
      uses: actions/checkout@v2
      with:
        repository: davidchatting/Approximate
        ref: master
        path: CustomApproximate

    - name: Checkout SevSeg
      uses: actions/checkout@v2
      with:
        repository: DeanIsMe/SevSeg
        ref: master
        path: CustomSevSeg

    - name: Compile all examples
      uses: ArminJo/arduino-test-compile@master
      with:
        arduino-board-fqbn: esp8266:esp8266:generic
        platform-url: https://arduino.esp8266.com/stable/package_esp8266com_index.json
        extra-arduino-cli-args: "--warnings default"
